{% extends 'parent2.html' %}
{% load static %}

{% block title %}
    <title>child2</title>
    {% endblock %}
{% block body_block %}
<center>
    <h1>This is my child2 html page</h1>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/Av.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">AVENGERS</h5>
          <p class="card-text">Iron Man is a superhero appearing in American comic books published by Marvel Comics. The character was co-created by writer and editor Stan Lee, developed by scripter Larry Lieber, and designed by artists Don Heck and Jack Kirby. </p>
          <a href="#" class="btn btn-primary">know more..!</a>
        </div>
      </div>
</center>
{% endblock %}