{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>parent2</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootsrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
</head>
<body>
    <center>
        <h1 class="btn btn-primary">parent2 html page</h1>
    </center>


    <script src="{% static 'js/bootstrap.css' %}"></script>
    <script src="{% static 'js/mdb.css' %}"></script>
    <script src="{% static 'js/jquery.css' %}"></script>
    <script src="{% static 'js/popper.css' %}"></script>
    {% block body_block %}
    {% endblock %}
</body>
</html>